[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
fastapi = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
loguru = "*"
aiomqtt = "*"
uvicorn = "*"
async-lru = "*"
async-lru-cache = "*"

[dev-packages]

[requires]
python_version = "3.12"
